html, body {
    margin: 0;
    font-family: arial,sans-serif;
    min-width: 900px;
    line-height: 14px;
    font-size: 14px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  a {
    color: #0066c0;
  }
  
  a:hover {
    color: #c45500;
  }
  
  #banner {
    background: #F6F6F6 url('../img/banner.jpg') no-repeat top left;
    height: 55px;
    background-size: 1920px;
    min-width: 1000px;
    display: block;
  }
  
  header {
    background-color: #131a22;
    height: 99px;
  }
  
  .nav-left {
    position: relative;
    float: left;
    width: auto;
    display: inline-block;
  }
  
  .nav-right {
    position: relative;
    float: right;
    width: auto;
    display: inline-block;
  }
  
  .nav-fill {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
  }
  
  #nav-logo {
    padding: 11px 18px 0 24px;
    position: relative;
    width: 192px;
  }
  
  #nav-logo .nav-logo-link {
    background: transparent url('../img/logo.png') no-repeat top left;
    background-size: 102px;
    width: 192px;
    height: 32px;
    display: block;
  }
  
  #nav-logo .nav-logo-tagline {
    color: #48a3c6;
    position: absolute;
    top: 31px;
    left: 93px;
    font-size: 11px;
    line-height: 11px;
    font-family: arial, sans-serif;
    font-weight: 700;
  }
  
  #nav-logo .nav-logo-tagline:hover {
    color: #ffffff;
  }
  
  #nav-holiday {
    top: 9px;
    position: relative;
    background-image: url('../img/fathers_day1.jpg');
    width: 400px;
    height: 39px;
  }
  
  #nav-holiday a {
    display: block;
    height: 100%;
  }
  
  #nav-search {
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 11px;
    padding-right: 100px;
  }
  
  #nav-search input {
    width: 100%;
  }
  
  .profile-menu a {
    color: #111 !important;
  }
  
  .profile-menu li {
    display: flow-root !important;
    padding: 5px 5px 0 5px !important;
  }
  
  .profile-menu ul {
    margin: auto !important;
  }
  
  #nav-search .nav-left {
    height: 35px;
    background-color: #f3f3f3;
    border-radius: 4px 0 0 4px;
    border: 1px solid #cdcdcd;
    overflow: hidden;
  }
  
  #nav-search .nav-left:hover {
    background-color: #dadada;
    border-left-color: #dadada;
    border-top-color: #dadada;
    border-bottom-color: #dadada;
  }
  
  #nav-search .nav-search-label {
    color: #777;
    display: block;
    font-size: 12px;
    line-height: 33px;;
    margin-right: 21px;
    margin-left: 10px;
  }
  
  #nav-search .nav-left i {
    position: absolute;
    top: 10px;
    right: 9px;
    color: #a0a0a0;
    font-size: 11px;
  }
  
  #nav-search select {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    height: 35px;
    display: block;
    outline: none;
    cursor: pointer;
  }
  
  #nav-search .nav-fill {
    height: 35px;
    overflow: hidden;
  }
  
  #nav-search .nav-fill input {
    border: none;
    height: 35px;
    padding: 5px 10px;
    font-size: 15px;
    color: #111;
    outline: none;
  }
  
  #nav-search .nav-right {
    background-color: #febd69;
    width: 45px;
    height: 35px;
    border-radius: 0 4px 4px 0;
  }
  
  #nav-search .nav-right:hover {
    background-color: #f3a847;
  }
  
  #nav-search .nav-right i {
    position: absolute;
    top: 5px;
    right: 13px;
    color: #333;
    font-size: 22px;
    opacity: 0.9;
  }
  
  #nav-search .nav-right input {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    outline: none;
    cursor: pointer;
    background: none;
    border: none;
    text-indent: -1000px;
  }
  
  #nav-main ul {
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 18px 0 0 0;
  }
  
  #nav-main li {
    display: inline-block;
    padding: 10px 9px 0 0;
  }
  
  #nav-main a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
  }
  
  #nav-main .nav-a {
    padding: 7px 10px;
    border: 1px solid transparent;
    display: inline-block;
    position: relative;
  }
  
  #nav-main .nav-a:hover {
    border: 1px solid #4f5965;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(255,255,255,.5);
  }
  
  #nav-main .nav-a span {
    display: block;
    margin-left: -2px;
    font-weight: 300;
    color: #ccc;
    font-size: 12px;
  }
  
  #nav-main i.fa-caret-down {
    color: #ccc;
    font-size: 11px;
    padding-left: 3px;
  }
  
  #nav-main .nav-left {
    height: 55px;
  }
  
  #nav-main .nav-left .nav-shop {
    float: left;
    /* width: 192px; */
    padding: 4px 12px 0 15px;
  }
  
  #nav-main .nav-left .nav-shop a {
    margin-top: 16px;
  }
  
  #nav-main .nav-fill a {
    font-weight: 500;
    color: #ccc;
  }
  
  #nav-main .nav-fill a:hover {
    text-decoration: underline;
  }
  
  #nav-main .nav-right {
    padding-right: 6px;
    margin-top: -50px;  
  }
  
  #nav-main .nav-right a {
    margin-top: 6px;
  }
  
  #nav-main .nav-right .cart {
    background: transparent url(../img/cart.png) no-repeat 11px 11px;
    background-size: 39px;
    padding: 7px 20px 7px 50px;
  }
  
  #nav-main .nav-right .cart span {
    color: #f08804;
    margin-left: -20px;
    font-size: 16px;
    font-weight: 700;
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1260px;
    }
  }
  
  #promo .col-lg-12 {
    padding: 0 22px 10px 22px;
  }
  
  #promo .carousel {
    margin-top: -2px;
  }
  
  .col-lg-3 {
    padding: 0 7px;
  }
  
  .text-center {
    text-align: center;
  }
  
  h2 {
    color: #111;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    padding-bottom: 15px;
  }
  
  h3 {
    color: #111;
    font-size: 28px;
    font-weight: 500;
  }
  
  .btn {
    height: 29px;
    padding: 2px 20px;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    font-size: 13px;
    box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
    border-radius: 3px;
  }
  
  .btn:hover {
    border-color: #a88734 #9c7e31 #846a29;
    background: linear-gradient(to bottom,#f5d78e,#eeb933);
    color: #111;
  }
  
  #products {
    padding: 0 0 60px 0;
  }
  
  #products .col {
    background: rgba(19,19,4,.04);
    padding: 15px;
    min-height: 578px;
    position: relative;
  }
  
  #products h2 {
    margin: 0;
  }
  
  #products img {
    max-width: 100%;
  }
  
  #products .thumbnail {
    display: inline-block;
    padding: 0;
    border: none;
    margin: 8px;
    background: none;
  }
  
  #products .thumbnail:hover {
    text-decoration: none;
  }
  
  #products .thumbnail .caption {
    padding: 0;
    margin: 12px 0 4px 0;
    display: inline-block;
    color: #111;
    font-size: 13px;
  }
  
  #products #welcome {
    padding-top: 80px;
  }
  
  #products #welcome h2 {
    font-size: 26px;
  }
  
  #products #welcome p {
    font-size: 13px;
    color: #111;
    margin-bottom: 60px;
  }
  
  #products #welcome .btn {
    width: 100%;
  }
  
  #products #amazon-basics img {
    max-width: 151px;
  }
  
  #products #dress img {
    max-width: 200px;
  }
  
  #products #deal-day {
    margin-top: 20px;
    position: relative;
    min-height: 250px !important;
  }
  
  #products #deal-day h2 {
    margin-bottom: 15px;
  }
  
  #products #deal-day h3 {
    margin: 0;
    line-height: 26px;
  }
  
  #products #deal-day img {
    max-width: 88px;
    position: absolute;
    right: 30px;
    top: 50px;
  }
  
  #products .footer {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #e7e7e7;
    width: 90%;
    padding: 17px 0 17px;
    font-size: 13px;
    color: #555;
  }
  
  footer a {
    color: #fff;
  }
  
  footer .top {
    background: #37475a;
  }
  
  footer .top a {
    padding: 17px;
    width: 100%;
    display: inline-block;
  }
  
  footer .top a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  footer .top:hover {
    background: #485769;
  }
  
  footer .center {
    margin: 0 auto;
    max-width: 1080px;
  }
  
  footer ul {
    margin: 30px 40px 30px 0;
    display: inline-block;
    vertical-align: top;
    list-style: none;
  }
  
  footer .middle {
    background: #232f3e;
  }
  
  footer .middle h3 {
    color: #fff;
    font-weight: 700;
    margin-bottom 10px;
    padding: 0;
    font-size: 16px;
  }
  
  footer .middle li {
    position: relative;
  }
  
  footer .middle .logo {
    background: transparent url('../img/logo.png') no-repeat 0 0;
    background-size: 76px;
    width: 76px;
    height: 23px;
    display: block;
    border: none !important;
    margin-right: 60px;
    position: absolute;
    top: -14px;
    left: -120px;
  }
  
  footer .middle a {
    color: #ddd;
    font-size: 13px;
    display: block;
    padding: 5px 0;
  }
  
  footer ul.copy {
    display: inline-block;
    width: 100%;
  }
  
  footer ul.copy li {
    display: inline-block;
    margin-right: 20px;
    color: #999;
    font-size: 11px;
  }
  
  footer .middle .copy {
    border-top: 1px solid #3a4553;
    padding: 30px 20px 20px 20px;
  }
  
  footer .middle .copy a {
    padding: 10px 30px 10px 10px;
    color: #ccc;
    border: 1px solid #848688;
    border-radius: 3px;
  }
  
  footer .middle .copy a:hover {
    text-decoration: none;
    border-color: #8D9096;
  }
  
  footer .middle .fa-globe {
    margin-right: 5px;
  }
  
  footer .middle .flag-icon-us {
    background-image: url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/images/flags/us.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 1em;
    width: 1.33333333em;
    margin-right: 7px;
    background-position: 0 2px;
  }
  
  footer .bottom {
    background: #131a22;
  }
  
  footer .bottom ul {
    margin-right: 0;
  }
  
  footer .bottom li {
    margin-bottom: 15px;
  }
  
  footer .bottom a {
    color: #ddd;
    font-size: 11px;
    line-height: 11px;
  }
  
  footer .bottom a span {
    color: #999;
    font-size: 10px;
  }
  .mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: darkslategrey;
  }
  
  .mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 75px;
    z-index: 10;
  }
  
  .mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 73px;
    z-index: 8;
  }
  .mega-dropdown {
    position: static !important;
    width: 100%;
  }
  .mega-dropdown-menu > li {
  
    display: block !important;
  }
  .mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
    display: block !important;
  }
  
  .mega-dropdown-menu > li > ul > li {
    list-style: none;
  }
  
  .mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: rgb(255, 251, 251);
    white-space: normal;
  }
  
  .mega-dropdown-menu > li ul > li > a:hover,
  .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #e6cfe7;
  }
  
  .mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight: bold;
  }
  
  .mega-dropdown-menu form {
    margin: 3px 20px;
  }
  
  .mega-dropdown-menu .form-group {
    margin-bottom: 3px;
  }